<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.6" newVersion="6.0.0.6" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._real_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8236.38875" newVersion="2.0.8236.38875" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._rel_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.1" newVersion="1.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._obj_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._bit_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._num_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8236.38251" newVersion="1.0.8236.38251" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._quotient_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8236.38558" newVersion="1.0.8236.38558" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._fs_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8236.40235" newVersion="2.0.8236.40235" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.fs._git_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.1" newVersion="2.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._win_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8206.40185" newVersion="1.0.8206.40185" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._acc_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.1" newVersion="2.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._time_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8236.39195" newVersion="1.0.8236.39195" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="_nilnul_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.geometry._planar_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8212.37496" newVersion="1.0.8212.37496" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._txt_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8236.38660" newVersion="1.0.8236.38660" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._character_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.8272.35271" newVersion="2.1.8272.35271" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._integer_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8236.38331" newVersion="1.0.8236.38331" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._set_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._web_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="_nilnul_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.8.0" newVersion="5.2.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num.real._matrix_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8219.18843" newVersion="1.0.8219.18843" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul._num_._LINQ_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.1" newVersion="1.1.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nilnul.num._complex_._LIB_" publicKeyToken="085f320e4a727230" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.8212.4377" newVersion="1.0.8212.4377" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Frameworks" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.0.131" newVersion="6.3.0.131" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.0.131" newVersion="6.3.0.131" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.0.131" newVersion="6.3.0.131" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Metadata" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Packaging" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.1.1" newVersion="6.3.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NuGet.Versioning" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.3.1.1" newVersion="6.3.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.2" newVersion="6.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.1" newVersion="6.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" /></startup></configuration>
